<% include inc/header.html %>
  <div class="row">
    <div class="col-md-9">
      <h3><%if(item.id){%>修改<%}else{%>添加<%}%>文章</h3>
      <form role="form">
        <div class="form-group">
          <input type="text" value="<%-item.title%>" class="form-control" id="field_title" placeholder="标题">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">固定链接</label>
          <input type="text" value="<%-item.alias_title%>" class="form-control" id="field_alias_title" placeholder="固定链接">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">内容（markdown语法）</label>
          <textarea name="" class="form-control" id="field_content" cols="30" rows="10"><%-item.markdown_content%></textarea>
        </div>
        </form>
    </div>
    <div class="col-md-3">
      <h3>&nbsp;</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">发布</h3>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-primary btn-publish">发表</button>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">分类目录</h3>
        </div>
        <div class="panel-body">
          <ul id="cateList" class="list-unstyled">
          <% cate.forEach(function(item){ %>
            <li class="checkbox"><label><input type="checkbox" value="<%- item.id%>"> <%- item.name%></label></li>
          <%})%>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">标签</h3>
        </div>
        <div class="panel-body">
           <input type="email" class="form-control" id="field_tag" placeholder="添加标签，多个用英文逗号隔开">
            <div class="postTagList">
              
            </div>
        </div>
      </div>

    </div>
  </div>
<% include inc/footer.html %>
<script src="/resource/js/admin/post.js"></script>