<% include inc/header.html %>
<section class="main container_12">
    <div class="area-header"></div>
    <div class="block-contents">
        <div class="bg-contents"></div>
        <h1 class="title">文章列表</h1>
        <div class="contents">
            <div class="archive-list">
                <%for(year in list){%>
                <h2><%-year%> <span>(<%-list[year].length%>)</span></h2>
                <ul class="article-list">
                    <%list[year].forEach(function(item){ %>
                    <li>
                        <a href="/<%-encodeURIComponent(item.alias_title)%>.html"><%-item.title%></a>
                        <time><%-item.datetime%></time>
                    </li>
                    <%})%>
                </ul>
                <%}%>
            </div>
        </div>
    </div>
</section>
<% include inc/footer.html %>