<footer class="footer" role="contentinfo">
    <div class="footer-content container_12">
        <div class="row">
        <div class="grid_5 left">
            <a href="https://www.upyun.com" target="_blank"><img src="/resource/img/upyun.png" width="90" height="45" style="display:block"></a>
        </div>
        <div class="copyright grid_5 right">
            <span>
                Powered by 
                <a target="_blank" href="https://github.com/welefen/thinkjs">thinkjs</a>
                 & 
                <a target="_blank" href="http://weblog.areverie.org/">areverie</a>
                 &copy; <%=(new Date()).getFullYear()%>
            </span>
        </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F300d0a259af94ac322cf9497f29aff45' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>